*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 16px;
	background-color: #f0f2f5;
}
a {
	text-decoration: none;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
header {
	margin-top: 10px;
	margin-bottom: 50px;
}
header img {
	float: left;
}
header ul{
	list-style: none;
}
header ul li {
	display: inline-block;
	margin-left: 50px;
	line-height: 100px;
}
.item-main {
	background-color: #fff;
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    box-shadow: 0 1px 0 0 #e1e8ed, 0 0 0 1px #e9eef2;
    padding: 10px;
	width: 600px;
	float: left;	
}
.items-topten {
	margin-top: 10px;
}
.item-topten {
	margin-bottom: 10px;
}

.top-main {
	background-color: #fff;
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 10px;
    box-shadow: 0 1px 0 0 #e1e8ed, 0 0 0 1px #e9eef2;
	width: 420px;
	float: right;
}
/*===== slider =====*/
#slider {
	position: relative; 
}
#slider .item{
  margin: 3px;
}
#slider .item img{
  display: block;
  width: 100%;
  height: auto;
}

a.main-button {
  display: inline-block;
  color: red;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 1px solid;
  border-radius: 1px;
  transition: 0.2s;
} 
a.main-button:hover { background: #e2e2e2; }
a.main-button:active { background: red; }

