*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #f0f2f5;
}
a {
	text-decoration: underline;
	color: black;


}
a:hover { color: rgb(232,95,76); } /* при наведении курсора мышки */
a:active { color: rgb(152,15,0); } /* при нажатии */
hr {
    border: none; /* Убираем границу */
    background-color: rgb(232,95,76); /* Цвет линии */
    color: rgb(232,95,76); /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
}
.container {
	background-color: #fff;
	width: 1024px;
	margin: 0 auto;
}
header {
	padding-top: 10px;
	margin-bottom: 20px;
}
header img {
	float: left;
}
header ul{
	list-style: none;
}
header ul li {
	display: inline-block;
	margin-left: 50px;
	line-height: 70px;
}
header a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	font-size: 17px;
}
header a:hover {
	color: #d95c5c;
}
.block {
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 10px;
}
.item-main {
	width: 660px;
	float: left;	
}
.item-main p {
	text-align: justify;
}
.items-topten h3{
	
}
.item-topten {
	margin: 10px 0 10px 0;
	text-align: center;
}
.top-main {
	width: 320px;
	float: right;
}
/*===== slider =====*/
.slider {
	margin-top: 430px; 
	margin-bottom: 20px;
}
.slider .item{
  margin: 3px;
}
.slider .item img{
  display: block;
  width: 100%;
  height: auto;
}
.wanttorate {
	text-align: center;
	margin-top: 30px;
}
a.main-button {
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  margin-bottom: 30px;
} 
a.main-button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
a.main-button:active { background: rgb(152,15,0); } /* при нажатии */


.items-footer {


 margin-top: 50px;
 margin-bottom: 20px;
}
.items-footer h3 {
	text-align: center;
	text-transform: uppercase;
}
.items-footer img {
	margin: 38px;
	border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 0 3px #d44b38, 0 0 13px #d44b38; /* Параметры теней */
}
.item-footer {
    padding: 10px;
	width: 500px;
	float: left;	
}
.items-footer ul li {
	list-style: none;
	margin-top: 10px;
}
.items-footer-img-disc {
    display: inline-block; /* Строчно-блочный элемент */
    position: relative; /* Относительное позиционирование */
   }
.items-footer-img-disc:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; right: 0; bottom: 5px; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: #d44b38; /* Полупрозрачный цвет фона */
    color: #fff; /* Цвет текста */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 15px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }

.item-main p {
	text-align: justify;
}
footer {
	text-align: center;
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 10px;
}
.rate {
	background-color: #fff;
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 10px;
    height: auto;
}
.rate h3 {
	text-transform: uppercase;
	text-align: center;
}
.rate table {
	margin: 30px auto;
}

.rate-place {
	width: 50px;
}
.rate-name {
	width: 350px;
}
.rate-town {
	width: 350px;
}
.rate-stars {
	width: 100px;
}

.addbarber {
	background-color: #fff;
	-moz-box-sizing: border-box; /* Для Firefox */  
    box-sizing: border-box; /* Ширина блока с полями */
    padding: 10px;
    height: auto;
}
.addbarber h3 {
	text-transform: uppercase;
	text-align: center;
}
.addbarber p {
	margin-top: 20px;
}
.addbarber ul {
	margin-left: 20px;
}

/* наша HTML таблица */
table.sort{
border-spacing:0.1em;
margin-bottom:1em;
margin-top:1em
}

/* ячейки таблицы */
table.sort td{
border:1px solid #CCCCCC;
padding:0.3em 1em;
height: 30px;
}

/* заголовки таблицы */
table.sort thead td{
cursor:pointer;
cursor:hand;
font-weight:bold;
text-align:center;
vertical-align:middle;
}

/* заголовок отсортированного столбца */
table.sort thead td.curcol{
background-color:#999999;
color:#FFFFFF
}



.single-barber-block {
	height: 340px;
}
.single-barber {
	width: 320px;
}
.single-barber-description {
	width: 650px;
}
.single-barber-description p {
	margin-top: 30px;
	margin-bottom: 10px;
}
.single-barber-description-full {
	margin-top: 20px;
	height: auto;
}
.single-barber-description-full h3 {
	text-align: center;
	text-transform: uppercase;
}
.single-barber-description-full p {
	text-align: justify;
	margin-top: 10px;
}
.single-barber-description-rating {
	float: right;
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	height: 70px;
	width: 70px;
	background-color: #58FA82;
	line-height: 70px;
	text-align: center;
	box-shadow: 0 1px 0 0 #e1e8ed, 0 0 0 1px #e9eef2;
}

